<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.finetool.order.mapper.RoomOrderMapper">
    <select id="getRoomOrderList" resultType="cn.finetool.common.vo.OrderVo">
        SELECT  order1.order_id,order2.order_status,order1.user_pay_amount,order1.create_time
        FROM tb_room_order AS order1
                 JOIN tb_order_status AS order2 ON order1.order_id = order2.order_id
        WHERE order1.user_id = #{userId}
        AND order1.is_deleted = 0
        ORDER BY order1.create_time DESC
    </select>
</mapper>
