<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.finetool.hotel.mapper.HotelMapper">


    <select id="getHotelGeoList" resultType="cn.finetool.common.vo.HotelVo">
        SELECT hotel_id,hotel_name,hotel_lng,hotel_lat
        FROM tb_hotel
    </select>
</mapper>