<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.finetool.hotel.mapper.HotelMapper">


    <select id="getHotelGeoList" resultType="cn.finetool.common.vo.HotelVo">
        SELECT hotel_id,hotel_name,hotel_lng,hotel_lat
        FROM tb_hotel
        WHERE status = 0
    </select>

    <select id="queryHotelInfo" resultType="cn.finetool.common.vo.HotelVo">
        SELECT hotel_id,hotel_name,address
        FROM tb_hotel
        WHERE hotel_id = #{hotelId}
    </select>

    <!-- 使用 聚合函数 需要对 非聚合字段进行分组    -->
    <select id="queryHotelRoomTypeList" resultType="cn.finetool.common.vo.RoomInfoVo">
        SELECT room.room_id,room.room_name,room.room_type,room.basic_price AS old_price,
               MIN(room_date.price) AS todayPrice,
               IFNULL(COUNT(DISTINCT room_date.ri_id), 0) room_count
        FROM tb_room room
        LEFT JOIN tb_room_info AS room_info ON room_info.room_id = room.room_id
        LEFT JOIN tb_room_date AS room_date ON room_date.ri_id = room_info.id
        AND room_date.date BETWEEN #{checkInDate} AND #{checkOutDate}
        AND room_date.status = 0
        WHERE room.hotel_id = #{hotelId}
        AND room_info.id NOT IN (
                SELECT ri_id
                FROM tb_room_date
                WHERE date BETWEEN #{checkInDate} AND #{checkOutDate}
                AND status != 0
            )
        GROUP BY room.room_id,room.room_name,room.room_type,room.basic_price
        HAVING COUNT(DISTINCT room_date.date) = DATEDIFF(#{checkOutDate},#{checkInDate}) + 1;
    </select>
    <select id="queryHotelReserveRoomBookingList" resultType="cn.finetool.common.vo.CheckRoomInfoVO">
        SELECT *
        FROM tb_room_booking AS room_booking
                 JOIN tb_room_date AS room_date ON room_booking.room_date_id = room_date.id
                 JOIN tb_room_info AS room_info ON room_booking.id = room_date.ri_id
                 JOIN tb_room AS room ON room.room_id = room_info.room_id
        AND room.hotel_id = #{hotelId}
    </select>

    <select id="queryUserColumn" resultType="java.lang.String">
        SELECT user.phone
        FROM tb_user AS user
        JOIN tb_room_order AS room_order ON  user.user_id  = room_order.user_id
        JOIN tb_room_booking AS room_booking ON room_order.order_id = room_booking.order_id
        WHERE room_booking.room_date_id = #{roomDateId}
    </select>
</mapper>
