<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.finetool.hotel.mapper.RoomInfoMapper">
    <update id="changeStatus">
        UPDATE tb_room_info
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <select id="getCanUseRoomInfoList" resultType="cn.finetool.common.po.RoomInfo">
        SELECT id,room_id,room_info_id
        FROM tb_room_info
        WHERE status = 1
    </select>

    <select id="queryResidualRoomInfo" resultType="java.lang.Integer">
             SELECT room_date.ri_id
             FROM tb_room_date AS room_date
             JOIN tb_room_info AS room_info ON room_info.id = room_date.ri_id
             AND room_info.room_id = #{roomId}
             AND room_info.status = 1
             WHERE room_date.date BETWEEN #{checkInDate} AND #{checkOutDate}
             AND room_date.status = 0
             GROUP BY room_date.ri_id
             HAVING COUNT(DISTINCT room_date.date) = DATEDIFF(#{checkOutDate},#{checkInDate}) + 1
    </select>

    <select id="getRoomPrice" resultType="java.math.BigDecimal">
        SELECT DISTINCT price * #{liveCount}
        FROM tb_room_date AS room_date
        JOIN tb_room_info AS room_info ON room_info.id = room_date.ri_id
        AND room_info.room_id = #{roomId}
        AND room_date.date = #{date}
    </select>
    <select id="queryCanUseRoomCount" resultType="java.lang.Integer">
        SElECT COUNT(DISTINCT room_info.id)
        FROM tb_room_info AS room_info
        WHERE room_info.room_id = #{roomId}
          AND room_info.status = 1
        AND NOT EXISTS(
            SELECT 1
            FROM tb_room_date AS room_date
            WHERE room_date.ri_id = room_info.id
            AND room_date.date BETWEEN #{checkInDate} AND #{checkOutDate}
            AND room_date.status = 1
        )
    </select>

</mapper>