<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.finetool.activity.mapper.VoucherMapper">
    
    <select id="findMerchantVoucherListById" resultType="cn.finetool.common.vo.VoucherVO">
        SELECT v1.voucher_id, v1.voucher_type, v1.create_time, v1.user_id,
               v2.voucher_title, v2.voucher_sub_title, v2.status,v2.count,v2.begin_time,v2.end_time
        FROM tb_voucher AS v1
        INNER JOIN tb_voucher_coupon AS v2 ON v1.voucher_id = v2.voucher_id
        WHERE v1.merchant_id = #{merchantId}
    </select>
</mapper>