<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.finetool.account.mapper.SystemMapper">



    <select id="getMerchantId" resultType="java.lang.String">
        SELECT merchant_id
        FROM sys_user_merchant
        WHERE user_id = #{userId}
    </select>
</mapper>