<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.finetool.account.mapper.UserMapper">


    <update id="updateUserInfo">
        UPDATE tb_user
        SET
            points = COALESCE(points, 0) + #{points},
            account = COALESCE(account, 0) + #{account},
            use_points = COALESCE(use_points, 0) + #{usePoints}
        WHERE user_id = #{userId}
    </update>

    <update id="decreaseUserAccount">
        UPDATE tb_user
        SET account = account - #{userPayAmount}
        WHERE user_id = #{userId}
    </update>

    <select id="getUserAccount" resultType="java.math.BigDecimal">
        SELECT account
        FROM tb_user AS user
        WHERE user_id = #{userId}
    </select>
</mapper>
